/* 关于我 */
#main .yaoda .box-me {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 60px;
    margin: 0 0 30px;
    gap: 20px;
}

#main .yaoda .box-me .left-me {
    padding: 0 30px 60px 0;
}

#main .yaoda .box-me .left-me .photo {
    border-radius: 20px;
    width: 240px;
    aspect-ratio: 3/4;
}

#main .yaoda .box-me .right-me {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.yaoda h2,
.anli h2 {
    color: white;
}

.yaoda hr {
    width: 100%;
    border: none;
    height: 1px;
    background-color: hsla(0, 0%, 43%, 0.4);
    margin-bottom: 38px;
}

.yaoda .title {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.big-text {
    font-size: 2.6rem;
    font-weight: 400;
    line-height: 2.6rem;
    margin: 0;
}

.yaoda .title h3 {
    margin: 0;
    color: rgb(153, 153, 153);
    font-size: 1.2rem;
    font-weight: normal;
    line-height: 1.2rem;
    padding: 0 18px;
}

.yaoda .left-me img {
    width: 260px;

}



.yaoda .right-me .card {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
    padding: 20px 0;
}

.yaoda .card ul {
    display: flex;
    flex-direction: column;
    max-width: 220px;
    gap: 2px;
    padding: 0;
    margin: 0;
}


.yaoda .card ul li {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.yaoda .card ul li p {
    color: rgb(150, 140, 255);
    line-height: 30px;
}

.yaoda ul li>div {
    width: 30px;
    height: 30px;
    background-image: url(../img/icons_com.webp);
    background-repeat: no-repeat;
}

.yaoda ul .card-icon-1 {
    background-position: right -36px top -3px;
}

.yaoda ul .card-icon-2 {
    background-position: right -36px top -32px;
}

.yaoda ul .card-icon-3 {
    background-position: right -36px top -60px;
}

.yaoda ul .card-icon-4 {
    background-position: right -3px top -3px;
}

.yaoda ul .card-icon-5 {
    background-position: right -3px top -32px;
}

.yaoda .content-text p {
    color: #ccc;
    font-size: 1.2rem;
    line-height: 2rem;
}
