.box-title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-bottom: 40px;
    flex-direction: column;
    /* border-bottom: 12px solid rgb(17, 17, 17); */
    margin: 0;
}

.dog>h2 {
    font-size: 2rem;
    margin-top: 10px;
    color: white;
}

.box-title hr {
    width: 100%;
    border: none;
    height: 1px;
    background-color: hsla(0, 0%, 43%, 0.4);
    margin: 0 0 30px;
}

.dog,
.bird {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.dog p {
    color: #ddd;
    margin-bottom: 40px;
}

.bird p {
    color: #000000;
    margin-bottom: 40px;
}

.video-container {
    position: relative;
    width: 100%;
    /* 确保父容器宽度为100% */
    height: 0;
    /* 设置高度为0，通过padding-bottom保持宽高比 */
    padding-bottom: 56.25%;
    /* 16:9的宽高比 (9 / 16 * 100) */
    min-height: 200px;
    /* 确保有最小高度 */
    overflow: hidden;
    /* 隐藏超出部分的内容 */
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    z-index: 1;
}

.video-container iframe,
.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    object-fit: contain;
    /* 保证视频覆盖整个容器，可能会裁剪视频 */
}

.mov-items {
    width: 100%;
}

.mov-list {
    width: 100%;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 20px;
}

.mov-v {
    position: relative;
    border-radius: 4px;
    min-width: 100px;
    /* aspect-ratio: 1/1; */
    /* 设置宽高比，但老版本不支持*/
    padding-top: 100%;
    min-height: 100%;
    overflow: hidden;
    /* 隐藏超出部分的内容 */
}

.mov-v video {
    position: absolute;
    cursor: pointer;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
}



.btn-more a {
    padding: 16px;
    border: 1px solid rgb(2, 175, 255);
    border-radius: 4px;
}