.casesBox {
    display: grid;
    gap: 80px;
}

.box-video {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 48px;
}

.case-tag {
    min-width: 200px;
}

.case-tag h3,
.case-tag p {
    margin-bottom: 20px;
}

.video-container {
    position: relative;
    width: 100%;
    min-height: 200px;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    background: #000;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 12px;
}

.box-title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-bottom: 40px;
    flex-direction: column;
    margin: 0;
}

.black>h2 {
    font-size: 2rem;
    margin-top: 10px;
    color: white;
}

.black,
.white {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.black p {
    color: #ddd;
    margin-bottom: 40px;
}

.white p {
    color: #000000;
    margin-bottom: 40px;
}

.endBox {
    width: 100%;
    height: auto;
}

.endBox .more {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0 40px;
    margin: 0 auto;
}

.endBox a {
    padding: 2px;
    color: var(--link-color);
}

@media (max-width: 1000px) {
    .box-video {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        gap: 12px;
    }

    .case-tag {
        width: 100%;
    }

    .case-tag h3,
    .case-tag p {
        margin-bottom: 10px;
    }

    .title-card {
        text-align: start;
        font-weight: 500;
        color: var(--title-color);
    }
}

@media (max-width: 576px) {
    .title-card {
        text-align: center;
    }
}