.box-title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-bottom: 40px;
    flex-direction: column;
    /* border-bottom: 12px solid rgb(17, 17, 17); */
    margin: 0;
}

.black>h2 {
    font-size: 2rem;
    margin-top: 10px;
    color: white;
}

.box-title hr {
    width: 100%;
    border: none;
    height: 1px;
    background-color: hsla(0, 0%, 43%, 0.4);
    margin: 0 0 30px;
}

.black,
.white {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.black p {
    color: #ddd;
    margin-bottom: 40px;
}

.white p {
    color: #000000;
    margin-bottom: 40px;
}