/* 全局样式 */
:root {
    --primary-color: #333333;
    --background-color: #dadada;
    --link-color: #ffffff;
    --header-bg-color: rgba(0, 0, 0, 0.9);
    --footer-bg-color: #333;
    --banner-bg-color: #474747;
    --highlight-color: #ff0000;
    --container-max-width: 1200px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* 弹框时禁止滚屏 */
.no-scroll {
    overflow: hidden;
}

body{
    width: 100vw;
    overflow-x: hidden;
}
body,
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Arial','微软雅黑', sans-serif;
    color: var(--primary-color);
    background-color: var(--background-color);

    scroll-padding-top: 73px;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

/* 激活链接样式 */
h2 {
    font-size: 2rem;
    font-weight: 400;
    margin: 10px 0;
    text-align: center;
    color: #333;
}
h3 {
    font-size: 1.8rem;
    font-weight: 400;
}

p {
    font-size: 1.2rem;
    line-height: 1.8rem;
    margin: 0;
}

a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
}

header {
    position: fixed;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.98);
    color: white;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.3);
    z-index: 10;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0;
}

/* 头部logo整体盒子 */
.logo {
    display: flex;
    align-items: center;
    min-width: 300px;
}

.logo>a {
    display: flex;
    align-items: center;
}

.logo img {
    width: 56px;
    height: 56px;
}

h1 {
    display: block;
    color: inherit;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2rem;
    padding-left: 10px;
    margin: 0;
}

/* 导航链接 */
header .container nav .nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
    padding: 8px 0;
    margin: 0;
}

.nav-links a,
.nav-links-bottom a {
    /* display: inline-block; */
    text-decoration: none;
    font-size: 1rem;
    color: rgb(182, 182, 182);
    transition: all 0.3s;
}

.nav-links li {
    padding: 18px 0;
}

.nav-links a {
    position: relative;
    padding-bottom: 10px;
}

.nav-links a::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: #02afff;
    position: absolute;
    border-radius: 1px;
    bottom: 0;
    left: 50%;
    transition: all 0.3s ease-in-out;
}

.nav-links-bottom {
    /* 默认情况下不显示 */
    display: none;
    top: 100%;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 8;
}

.nav-links-bottom ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    margin: 0;
}

.nav-links-bottom li {
    list-style: none;
    margin: 10px 0;
}

.nav-links-bottom a {
    /* 页签颜色白色 */
    color: rgb(182, 182, 182);
    font-size: 1.6rem;
    /* 给链接一些内边距 */
    padding: 10px 20px;
}

/* 鼠标滑过状态加初始激活链接状态 */
header .nav-links a:hover,
header .nav-links a.active {
    color: #ffffff;
}

header .nav-links a:hover::after,
header .nav-links a.active::after {
    width: 100%;
    left: 0;
}

.nav-main {
    display: none;
    /* cursor: pointer;
    font-size: 2rem;
    color: white; */
}


/* 页面主体样式 */
section {
    width: 100%;
    padding: 0;
    margin: 0;
}

#main {
    max-width: 1200px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    box-shadow: 8px 0 8px #0003, -8px 0 8px #0003;
    padding: 0;
}

/* 模态框背景 */
.modal {
    display: none;
    /* 默认是隐藏的 */
    position: fixed;
    z-index: 11;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.85);
}

/* 模态框内容 */
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    max-height: 80%;
    padding: 0;
    border: none;
    /* 移除描边 */
    transition: top 0.5s ease-out, left 0.5s ease-out;
    /* 默认有缓动效果 */
}

#modal-video {
    width: 100%;/* 确保视频宽度占满容器 */
    height: auto;/* 保持宽高比 */
    max-width: 100%;
    max-height: 100%;
}

/* 关闭按钮 */
.video-close {
    color: #f1f1f1;
    position: absolute;
    top: 15px;
    right: 35px;
    font-size: 50px;
    font-weight: bold;
    transition: 0.3s;
}

.video-close:hover,
.video-close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 拖拽覆盖层 */
.drag-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: move;
    z-index: 12;
    /* 确保覆盖层在视频之上 */
    background: transparent;
    display: block;
    /* 默认显示 */
}


/* 页脚footer样式 */
footer {
    width: 100%;
    background-color: var(--footer-bg-color);
    color: white;
    padding: 10px 0;
    margin: 0;
}

/* 尾页居中内容 */
footer .container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

/* 联系方式弹性容器 */
footer .contact-info {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin-bottom: 10px;
    padding: 0;
    gap: 20px;
    ;
}

.contact-item-left {
    padding-left: 36px;
}

/* 左侧联系方式整体icon盒子 */
footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-evenly;
    max-width: 768px;
    padding: 0;
    gap: 20px;
}

footer ul li {
    display: flex;
    align-items: center;
    list-style: none;
    min-width: 300px;
    height: 36px;
}

footer li p {
    color: inherit;
    padding-left: 10px;
    font-size: 1.1rem;
}

/* icon图标设定位置 */
.contact-icon__qq,
.contact-icon__wx,
.contact-icon__phone,
.contact-icon__email {
    width: 40px;
    height: 32px;
    background-image: url(../img/icons_com.webp);
}

.contact-icon__qq {
    background-position: left -4px top -8px;
}

.contact-icon__wx {
    background-position: left -84px top -8px;
}

.contact-icon__phone {
    background-position: left -44px top -8px;
}

.contact-icon__email {
    background-position: left -132px top -8px;
}



.wx-qrcode {
    width: 120px;
    height: 120px;
}

/* 分割线 */
footer hr {
    width: 100%;
    border: none;
    height: 1px;
    background-color: #e2e2e2;
    margin-bottom: 18px;
}

footer .bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

footer .bottom p {
    color: #dbdbdb;
    margin: 0 20px;
}