/* 大佬了解 */
.box-dalao {
    width: 100%;
    min-height: 212px;
    background-image: url(../img/dalao.webp);
    background-size: cover;
    background-position: center;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-dalao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    text-align: center;
    color: white;
    /* margin: 40px auto; */
}

.img-dalao h3 {
    font-size: 2rem;
    font-weight: 400;
    margin: 0;
}

.img-dalao p {
    font-size: 1.1rem;
    padding: 0 20px;
    margin: 12px 0;
}

.img-dalao a {
    border-radius: 3px;
    text-decoration: none;
    font-size: 1.2rem;
    line-height: 1.2rem;
    padding: 8px 32px;
    color: rgb(255, 255, 255);
    background-color: rgb(14, 121, 209);
    transition: all 0.5s;
}

.img-dalao a:hover {
    background-color: rgb(24, 182, 255);
}

/* 最新更新纵列弹性容器 */
.box-s {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 30px 0 50px;
    max-width: 31%;
    min-width: 250px;
}

.box-s>.card-v {
    position: relative;
    overflow: hidden;
    aspect-ratio: 3/4;
    border-radius: 20px;

}

.new h3 {
    margin: 24px 0 20px;
    text-align: center;
}

.box-s>.card-v video {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: 100%;
    transition: all 0.5s;
    background-size: contain;
}

.box-s>.card-v video:hover {
    transform: translate(-50%, -50%) scale(1.1);
}

.box-s>.more {
    position: absolute;
    bottom: 0px;
}

/* 选择我们子集弹性容器 */
.why h2 {
    color: white;
}


.why ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 30px 0 18px;
    gap: 20px;
}

.why .box-w .box-son {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: calc(49% - 10px);
    background-color: #f3f3f3;
    border-radius: 4px;
    padding: 24px;
    margin: 30px 0;
}


li .box-icon {
    position: absolute;
    right: 20px;
    top: -40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background-color: rgb(35, 109, 156);
    border-radius: 10px;
}

li .box-icon .icon-1,
.icon-2,
.icon-3,
.icon-4 {
    width: 56px;
    height: 48px;
    background-image: url(../img/icon_xr.png);
}

li .box-icon .icon-1 {
    background-position: -178px;
}

li .box-icon .icon-2 {
    background-position: -5px;
}

li .box-icon .icon-3 {
    background-position: -122px;
}

li .box-icon .icon-4 {
    background-position: -64px;
}

.why h3 {
    text-align: left;
    margin: 0 0 10px;
}

/* 我们做啥 */
.what {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.what h2{
    font-size: 2.2rem;
}
.what .title-box {
    width: 100%;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.what .title-box h4 {
    max-width: 760px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.2rem;
    text-align: center;
    margin: 10px 0;
}

/* 能做啥大弹性盒子 */
.what ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 100%;
    padding: 0;
    gap: 20px;

}

/* 做啥子弹性盒子宽度等比缩放 */
.what ul li {
    min-width: 260px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    border-radius: 6px;
    flex: 1;
}

.what ul li .icon-img {
    width: 146px;
    height: 146px;
    background-image: url(../img/icon_gan.webp);
}

.what ul li .icon-mf {
    background-position: -582px;
}

.what ul li .icon-sz {
    background-position: 0px;
}

.what ul li .icon-an {
    background-position: -141px;
}

.what ul li .icon-pm {
    background-position: -288px;
}

.what ul li .icon-yc {
    background-position: -434px;
}

.what ul li .icon-pz {
    background-position: -730px;
}

.service-item__title {
    margin: 20px 0 10px;
}
