@media (min-width: 901px) and (max-width: 1200px) {

  .container,
  #main {
    max-width: 1024px;
  }

  header>.container {
    padding: 10px 20px;
  }

  #main .yaoda .box-me .left-me .photo {
    border-radius: 20px;
    width: 200px;
  }

}

/* 窗口适配768px-900px */
@media (max-width: 900px) {
  header .container nav {
    display: none;
  }

  .container,
  #main {
    max-width: 820px;
  }

  header>.container {
    padding: 10px 20px;
  }

  #main .box-s {
    max-width: 43%;
    min-width: 250px;
  }

  #main .yaoda .box-me {
    display: flex;
    padding: 0;
  }


  #main .yaoda .box-me .left-me .photo {
    border-radius: 20px;
    width: 180px;
    aspect-ratio: 3/4;
  }

  #main .contact-item-left {
    padding: 0;
  }

  .nav-links-bottom {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 8;
  }

  .nav-links-bottom.active {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* 设置元素高度为视口高度减去 76 像素 */
    height: calc(100vh - 76px);
  }

  .nav-links-bottom li {
    padding: 10px;
    margin: 10px 0;
  }

  .nav-main {
    display: block;
    cursor: pointer;
    font-size: 2rem;
    color: white;
  }

  .nav-links-box a:hover,
  .nav-links-box a.active {
    color: white;
  }

  .nav-main.close {
    content: "×";
    font-size: 1.6rem;
  }



  footer .contact-info {
    padding: 0 20px;
  }
}

/* 窗口适配576px-767px */
@media (max-width: 767px) {
  header>.container {
    width: 100%;
    margin: 0;
  }
  .img-dalao h3 {
    font-size: 1.2rem;
  }

  .img-dalao p {
    font-size: 1rem;
  }

  .box-w {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .box-s {
    padding: 30px 0 50px;
    max-width: 48%;
    min-width: 180px;
  }

  .why .box-w .box-son {
    max-width: calc(100%);
  }


  #main .yaoda .box-me {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 10px;
  }

  #main .yaoda .box-me .left-me {
    position: relative;
    overflow: hidden;
    width: 160px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    margin: 0 auto;
  }

  #main .yaoda .box-me .left-me .photo {
    transform: scale(1);
    position: absolute;
    top: -8px;
    right: -10px;
  }

  #main .yaoda .box-me .right-me .title {
    transform: scale(0.9);
    position: absolute;
    top: -35px;
    right: -20px;
  }

  .yaoda .box-me .card {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
  }
}

/* 窗口适配576以下 */
@media (max-width: 575px) {

  .banner {
    display: flex;
    background-size: auto;
  }

  #banner-title {
    font-size: 1.8rem;
  }

  .right-sm {
    padding: 16px;
    width: 94vw;
    margin: 0 auto 10px;
  }

  .box-w {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .box-w .box-img {
    width: 80vw;
    margin: 0 auto;
  }

  .why .box-w .box-son {
    max-width: calc(100%);
  }

  .img-dalao h3 {
    font-size: 1.6rem;
  }

  .img-dalao p {
    font-size: 1rem;
  }

  .img-dalao a {
    font-size: 1rem;
    line-height: 1rem;
    padding: 10px 32px
  }

  .img-dalao a:hover {
    background-color: rgb(24, 182, 255);
    padding: 10px 36px;
  }
  #main{
    width: 100vw;
  }
  #main .box-s {
    max-width: 80%;
  }

  #main .yaoda .box-me {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 10px;
    gap: 40px;
    ;
  }
  #main .yaoda .box-me .right-me {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .yaoda .box-me .card {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
  }

  .yaoda .box-me p {
    font-size: 1.1rem;
    line-height: 1.8rem;
  }

  footer .contact-info {
    flex-wrap: wrap;
    padding: 0 20px;
  }

  .contact-item-left {
    padding: 0;
  }

  .bottom p {
    font-size: 1rem;
  }
}